@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins';
}

header {
    box-shadow: 0px 3px 15px 0px #00000026;
    height: 90px;

    @media (max-width:991px) {
        padding-top: 50px;
        height: 350px;
    }

    @media (max-width:370px) {
        height: 400px;
    }

    nav {
        height: 100%;

        @media (max-width:991px) {
            flex-direction: column;
        }

        ul {
            @media (max-width:991px) {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            @media (max-width:370px) {
                flex-direction: column;
                text-align: center;
            }
        }

        ul li a {
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            color: #666666;
        }

        button {
            width: 172px;
            height: 40px;
            border-radius: 4px;
            border: none;
            background: #222222;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 2px;
            text-align: center;
            color: white;
            transition: .2s linear;

            @media (max-width:991px) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        button:hover {
            background: aqua;
            transition: .2s linear;
        }
    }
}

main {
    margin-top: 145px;

    .main__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        @media (max-width:991px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .main__info {
            @media (max-width:991px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            h2 {
                width: 400px;
                height: 199px;
                font-weight: 700;
                font-size: 54px;
                line-height: 59px;
                color: #222222;
                margin-top: 11px;

                @media (max-width:991px) {
                    text-align: center;
                }

                @media (max-width:425px) {
                    width: 300px;
                    font-size: 30px;
                }
            }

            p {
                width: 394px;
                height: 72px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #222222;
                margin-top: -48px;

                @media (max-width:991px) {
                    text-align: center;
                }

                @media (max-width:425px) {
                    width: 200px;
                }
            }

            .main__btns {
                @media (max-width:325px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                button {
                    width: 148px;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    background: #222222;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 2px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 20px;
                    transition: .2s linear;

                    @media (max-width:991px) {
                        text-align: center;
                    }

                    @media (max-width:425px) {
                        margin-top: 50px;
                    }
                }

                button:hover {
                    background: aqua;
                    transition: .2s linear;
                }
            }
        }

        .main__img {
            position: relative;
            top: 200px;

            img {
                @media (max-width:991px) {
                    margin-top: 50px;
                }

                @media (max-width:425px) {
                    width: 200px;
                    position: relative;
                    top: -90px;
                }
            }
        }
    }

    .phone {
        position: relative;
        background: #222222;
        height: 1338px;

        @media (max-width:1399px) {
            height: 1850px;
        }

        @media (max-width:991px) {
            height: 3450px;
        }

        @media (max-width:400px) {
            height: 2950px;
        }

        .phone__title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 100px;

            p {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 2px;
                text-align: center;
                color: #FFFFFF;
            }

            h2 {
                width: 495px;
                height: 72px;
                font-weight: 700;
                font-size: 32px;
                text-align: center;
                color: #FFFFFF;

                @media (max-width:490px) {
                    width: 300px;
                    font-size: 20px;
                }
            }
        }

        .phone__content {
            display: grid;
            grid-template-columns: repeat(3, 6fr);
            gap: 40px;
            place-items: center;
            margin-top: 50px;

            @media (max-width:1399px) {
                grid-template-columns: repeat(2, 6fr);
            }

            @media (max-width:991px) {
                grid-template-columns: repeat(1, 6fr);
            }

            @media (max-width:400px) {
                gap: 150px;
            }

            .phone__info {
                width: 379px;
                height: 490px;
                border-radius: 20px;
                background: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 40px;

                @media (max-width:400px) {
                    width: 300px;
                    height: 300px;
                }

                img {
                    width: 227px;
                    height: 450px;

                    @media (max-width:400px) {
                        height: 400px;
                        padding-top: 70px;
                    }
                }

                .phone__bg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-image: url(../img/Bg.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 379px;
                    height: 397px;
                    margin-top: -150px;
                    border-radius: 0px 0px 20px 20px;


                    @media (max-width:400px) {
                        width: 300px;
                        height: 300px;
                    }

                    .phone__logo {
                        width: 64px;
                        height: 64px;
                        margin-top: -30px;
                    }

                    h2 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                        color: #0278ED;
                        margin-top: 18px;
                        margin-bottom: 15px;
                    }

                    p {
                        width: 286px;
                        height: 68px;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 22px;
                        text-align: center;
                        color: #222222;
                    }
                }
            }
        }
    }

    .numbers {
        background: #FF5437;
        height: 316px;

        @media (max-width:767px) {
            height: 640px;
        }

        .number__block {
            padding-top: 70px;

            .number__content {
                display: grid;
                grid-template-columns: repeat(3, 3fr);
                place-items: center;

                @media (max-width:767px) {
                    grid-template-columns: repeat(1, 3fr);
                    text-align: center !important;
                }

                .button-33 {
                    background-color: #c2fbd7;
                    border-radius: 100px;
                    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
                    color: black;
                    cursor: pointer;
                    display: inline-block;
                    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
                    padding: 7px 20px;
                    text-align: center;
                    text-decoration: none;
                    transition: all 250ms;
                    border: 0;
                    font-size: 16px;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                }

                .button-33:hover {
                    background: aqua;
                    color: white;
                    transform: scale(1.05) rotate(-1deg);
                }

                .number__info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h2 {
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 96px;
                        text-align: center;
                        color: #FFFFFF;

                        @media (max-width:800px) {
                            font-size: 50px;
                        }
                    }

                    p {
                        font-weight: 700;
                        font-size: 16px;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    .activeRed {
                        color: red;
                    }

                    .activeBlue {
                        color: blue;
                    }

                    .activeWhite {
                        color: white;
                    }
                }
            }
        }
    }

    .telephone {
        background: #FFFFFF;
        margin-top: 100px;
        position: relative;

        .telephone__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width:991px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }

            @media (max-width:450px) {
                text-align: left;
            }

            span {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                color: #222222;
                text-transform: uppercase;
            }

            h2 {
                width: 409px;
                height: 72px;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                color: #222222;
                margin-top: 5px;
                margin-bottom: 15px;

                @media (max-width:425px) {
                    width: 250px;
                    font-size: 20px;
                }
            }

            p {
                width: 403px;
                height: 168px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #666666;

                @media (max-width:425px) {
                    width: 300px;
                }
            }
        }

        .telephone__img {
            img {
                position: relative;
                top: 200px;

                @media (max-width:991px) {
                    position: relative;
                    top: 300px;
                }

                @media (max-width:500px) {
                    width: 200px;
                    position: relative;
                    top: 250px;
                }
            }
        }
    }

    .telephone:nth-last-of-type(6) {
        background: #F2F2F2;

        .telephone__info:nth-last-of-type(1) {
            @media (max-width:991px) {
                position: relative;
                top: -570px;
            }

            @media (max-width:500px) {
                position: relative;
                top: -300px;
            }
        }
    }

    .telephone__img:nth-last-of-type(2) {
        img {
            @media (max-width:991px) {
                position: relative;
                top: 550px;
            }

            @media (max-width:500px) {
                position: relative;
                top: 500px;
            }
        }
    }

    .dark {
        position: relative;
        background: #222222;
        height: 1020px;

        @media (max-width:600px) {
            height: 1000px;
        }

        @media (max-width:500px) {
            height: 800px;
        }

        .dark__title {
            padding-top: 100px;

            span {
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                letter-spacing: 2px;
                color: white;
            }

            h2 {
                font-weight: 700;
                font-size: 32px;
                text-align: center;
                line-height: 36px;
                color: white;
                margin-top: 5px;
                margin-bottom: 14px;

                @media (max-width:350px) {
                    font-size: 25px;
                }
            }

            p {
                width: 578px;
                height: 48px;
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                line-height: 24px;
                color: white;

                @media (max-width:600px) {
                    width: 250px;
                }

                @media (max-width:350px) {
                    font-size: 15px;
                }
            }
        }

        .dark__img {
            img {
                @media (max-width:500px) {
                    width: 200px;
                    padding-top: 120px;
                }
            }

            .dark__imgs {
                margin-top: -170px;

                @media (max-width:500px) {
                    margin-top: 50px;
                }

                img {
                    @media (max-width:500px) {
                        width: 100px;
                        margin-top: -350px;
                    }
                }
            }
        }
    }

    .money {
        margin-top: 100px;

        .money__title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                letter-spacing: 2px;
                color: #222222;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 700;
                font-size: 32px;
                text-align: center;
                line-height: 36px;
                color: #222222;

                @media (max-width:500px) {
                    font-size: 25px;
                }
            }

            p {
                width: 568px;
                height: 48px;
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                line-height: 24px;
                color: #222222;

                @media (max-width:580px) {
                    width: 300px;
                    font-size: 15px;
                }
            }
        }

        .money__content {
            display: grid;
            grid-template-columns: repeat(3, 3fr);
            place-items: center;
            gap: 30px;
            padding-top: 50px;

            @media (max-width:991px) {
                grid-template-columns: repeat(1, 3fr);
            }

            .money__info {
                width: 279px;
                height: 300px;
                border-radius: 20px;
                background: #F2F2F2;
                padding-top: 30px;

                span {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #0278ED;
                }

                h2 {
                    font-weight: 700;
                    font-size: 108px;
                    line-height: 124px;
                    text-align: center;
                    letter-spacing: 8px;
                    color: #0278ED;
                }

                p {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #222222;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                button {
                    width: 129px;
                    height: 40px;
                    border-radius: 4px;
                    background: #0278ED;
                    color: #FFFFFF;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-align: center;
                    line-height: 18px;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                }
            }

            .money__info:nth-last-of-type(1) {
                span {
                    color: #FF9209;
                }

                h2 {
                    color: #FF9209;
                }

                button {
                    background: #FF9209;
                }
            }

            .money__info:nth-last-of-type(2) {
                span {
                    color: #FF5437;
                }

                h2 {
                    color: #FF5437;
                }

                button {
                    background: #FF5437;
                }
            }
        }
    }

    .testimonials {
        background: #F2F2F2;
        height: 554px;
        margin-top: 150px;

        @media (max-width:1399px) {
            height: 1020px;
        }

        .testimonials__content {
            padding-top: 100px;

            .testimonials__title {
                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #222222;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 36px;
                    text-align: center;
                    color: #222222;

                    @media (max-width:405px) {
                        font-size: 23px;
                    }
                }

                p {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    color: #666666;

                    @media (max-width:405px) {
                        font-size: 16px;
                    }
                }
            }

            .testimonials__block {
                display: grid;
                grid-template-columns: repeat(3, 3fr);
                place-items: center;
                gap: 30px;
                padding-top: 50px;

                @media (max-width:1399px) {
                    grid-template-columns: repeat(1, 3fr);
                }

                @media (max-width:400px) {
                    text-align: left !important;
                }

                .testimonials__info {
                    width: 379px;
                    height: 224px;
                    border-radius: 20px;
                    background: white;

                    @media (max-width:400px) {
                        width: 250px;
                    }

                    p {
                        width: 312px;
                        height: 96px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #222222;
                        padding-top: 20px;
                        padding-left: 10px;

                        @media (max-width:400px) {
                            width: 200px;
                        }
                    }


                    .telephone__profile {
                        img {
                            @media (max-width:400px) {
                                display: none;
                            }
                        }

                        .testimonials__texts {
                            margin-top: 50px;

                            @media (max-width:400px) {
                                position: relative;
                                top: 20px;
                                left: -23px;
                            }

                            .text1 {
                                @media (max-width:400px) {
                                    position: relative;
                                    top: -5px;
                                }
                            }

                            .text2 {
                                margin-top: -150px;

                                @media (max-width:400px) {
                                    position: relative;
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .download {
        background: #FFFFFF;
        margin-top: 100px;

        .download__content {

            span {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-align: center;
                color: #222222;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                color: #222222;
                margin-top: 5px;
                margin-bottom: 14px;

                @media (max-width:400px) {
                    font-size: 25px;
                }
            }

            p {
                width: 589px;
                height: 48px;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #222222;

                @media (max-width:600px) {
                    width: 400px;
                }

                @media (max-width:400px) {
                    width: 300px;
                    font-size: 14px;
                }
            }

            img {
                @media (max-width:600px) {
                    margin-top: 30px;
                }

                @media (max-width:400px) {
                    width: 140px;
                }
            }
        }
    }

    .support {
        background: #E5E5E5;
        height: 644px;
        margin-top: 140px;

        @media (max-width:1300px) {
            height: 950px;
        }

        @media (max-width:767px) {
            height: 1000px;
        }

        @media (max-width:525px) {
            height: 1100px;
        }

        @media (max-width:426px) {
            height: 1200px;
        }

        @media (max-width:383px) {
            height: 1300px;
        }

        @media (max-width:346px) {
            height: 1390px;
        }

        .support__content {
            padding-top: 105px;

            .support__title {
                h1 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 36px;
                    color: #222222;
                }

                p {
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 15px;
                    color: #222222;
                    margin-top: 13px;
                }
            }
        }

        .support__block {
            display: grid;
            grid-template-columns: repeat(2, 4fr);
            gap: 50px;
            margin-top: 39px;

            @media (max-width:1300px) {
                grid-template-columns: repeat(1, 4fr);
                place-items: center;
            }

            .support__info {
                h2 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    color: #222222;
                }

                p {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #222222;
                }
            }
        }
    }
}

footer {
    .footer__info {
        padding-top: 100px;

        img {
            width: 100px;
        }

        .footer__icons {
            display: flex;
            gap: 30px;
            margin-top: 26px;
            margin-bottom: 25px;

            i {
                font-size: 30px;
            }
        }

        p {
            font-weight: 700;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            color: #B1B1B1;

            b {
                font-weight: 700;
                color: #666666;
            }
        }

        a {
            button {
                width: 400px;
                height: 80px;
                border: none;
                border-radius: 10px;
                background: aqua;
                color: white;
                font-weight: 700;
                font-size: 20px;
                margin-top: 30px;

                @media (max-width:420px) {
                    width: 150px;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}